<div class="well dsui-proc-well">
	<form data-ng-submit="fnCreatePoForPr()">
	<div class="pull-right">
		<a class="dsui-proc-a" href="javascript:void(0)" data-ng-click="fnToogleDetailView()">Cancel</a>
		<button type="button" class="btn btn-warning"> Notes </button>
		<button type="submit" class="btn btn-success"> Save </button>
	</div>
	<div class="dsui-proc-head1 text-muted" data-ng-bind="fnGetVendorName()"></div>
	<div>
		<span class="dsui-proc-head2 text-primary"><h2>PO ----------------</h2></span>
	</div> 
	<p class="clearfix"></p>
	<div class="row">
		<div class="col-sm-4">&nbsp;</div>
		<div class="col-sm-2"><strong>Vendor : </strong> <span class="text-muted" data-ng-bind="fnGetVendorId()| truncateZeroes:'':''"></span></div>
		<div class="col-sm-3"><strong>Requisitioner: </strong> <span class="text-muted">Joe Smith</span></div>
		<div class="col-sm-2"><strong>Total: </strong> <span class="text-muted">$<span data-ng-bind="fnGetPOTotalPrice()"></span></span></div>
	</div>
	<p />
	<div class="dsui-proc-tabs dsui-tr-tabs">
		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a>Order Line Items</a></li>
				<li><a>Order Header Details</a></li>
				<li class="pull-right">
					<button type="button" class="btn btn-success dsui-proc-btn">Add PR</button>
				</li>
			</ul>
			<div class="tab-content">
				<div data-ng-repeat="purchaseRequestObject in fnGetSelectedPRList()" class="clearfix">
					<div class="row dsui-proc-head">
						<div class="col-xs-5 pull-left dsui-head-left"><span data-ng-bind="purchaseRequestObject.materialId | truncateZeroes:'':''"></span> <span data-ng-bind="purchaseRequestObject.materialName"></span></div>
						<div class="col-xs-7">
							<div class="pull-right">
								<button type="button" class="btn btn-success">Details</button>
								<button type="button" class="btn btn-default">Conditions</button>
								<button type="button" class="btn btn-warning">Notes</button>
							</div>
						</div>
					</div>
					<div class="col-sm-12 pull-right text-right dsui-pointer-cursor" data-ng-click="fnRemoveFromDetailedList($index)"><a> Remove LineItem</a></div>
					<div class="col-sm-5">
						<div class="col-sm-6">
							<div>Material Group :  <span class="text-muted" data-ng-bind="purchaseRequestObject.materialGroup"></span></div>
							<div>Purchase Req <span class="text-muted" data-ng-bind="purchaseRequestObject.prNumber"></span></div>
						</div>
						<div class="col-sm-6">
								<div>Plant <span class="text-muted" data-ng-bind="purchaseRequestObject.plant"></span></div>
								<div>Storage Location :  <span class="text-muted" data-ng-bind="purchaseRequestObject.storageLocation"></span></div>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div>Days of Inventory</div>
							<div><span class="dsui-green"><i class="fa fa-circle"></i></span> <span class="text-muted" data-ng-bind="purchaseRequestObject.daysOfInventory"></span> Days</div>
						</div>
						<div class="col-sm-1 dsui-zero-padding">
							<div data-ng-init="purchaseRequestObject.quantity = fnCalQuentity(purchaseRequestObject.quantity)">Qty.</div>
							<span><input type="number" min=1 class="col-sm-12 dsui-zero-padding" data-ng-model="purchaseRequestObject.quantity" data-ng-required="true"/></span>
						</div>
						<div class="col-sm-1">
							<div>UoM</div>
							<div> <span class="text-muted" data-ng-bind="purchaseRequestObject.uom"></span></div>
						</div>
						<div class="col-sm-2">
							<div>Unit Price</div>
							<div class="text-muted text-right">$<span data-ng-bind="purchaseRequestObject.unitPrice | limitToTwo: '':''"</span></div>
						</div>
						<div class="col-sm-2">
							<div>Total Price</div>
							<div class="text-muted"> $<span data-ng-bind="fnGetTotalPrice(purchaseRequestObject)"></span></div>
						</div>
						<div class="col-sm-3">
							<div>Delivery Date</div>
								<div >            
										<p class="input-group">
										<input type="text" class="form-control" datepicker-popup="{{pr.format}}" data-ng-model="purchaseRequestObject.deliveryDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" close-text="Close" data-ng-required="true"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
										</span>
									</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="clearfix"/>
	</form>
</div>