<div class="well dsui-proc-well">
	 <div class="clearfix col-sm-12 ">
			<div class="input-append dsui-table-head">
					<div class="col-sm-10" style="color:#fff"><span class="dsui-table-head0">Purchase Requisitions 1- <span data-ng-bind="pr.displayPRs.length <pr.selectedPageSize.pages && pr.displayPRs.length || pr.selectedPageSize.pages"></span> of <span data-ng-bind="pr.completePRs.length"></span></span></div>
					<div class="col-sm-2 input-group dsui-search-div"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input type="text" data-ng-model="pr.searchText"  class="form-control pull-right  search-query dsui-search"></div>
			</div>
			<table class="dsui-pr-grid table table-striped table-condensed table-hover">
				<thead data-ng-init="predicate = 'prNumber'; reverse=true;">
					<tr>
						<th>&nbsp;</th>
						<th class="prNumber dsui-pointer-cursor" data-ng-click="predicate = 'prNumber'; reverse=!reverse"> PR&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'prNumber') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="materialId dsui-pointer-cursor" data-ng-click="predicate = 'materialId'; reverse=!reverse">Material&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'materialId') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="materialName dsui-pointer-cursor" data-ng-click="predicate = 'materialName'; reverse=!reverse">Material Description&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse  && predicate == 'materialName') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="prReleaseDate dsui-pointer-cursor" data-ng-click="predicate = 'prReleaseDate'; reverse=!reverse">PR Release Date&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'prReleaseDate') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="vendorId dsui-pointer-cursor" data-ng-click="predicate = 'vendorId'; reverse=!reverse">Vendor&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'vendorId') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="plant dsui-pointer-cursor" data-ng-click="predicate = 'plant'; reverse=!reverse">Plant &nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'plant') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a></th>
						<th class="quantity dsui-pointer-cursor" data-ng-click="predicate = 'quantity'; reverse=!reverse">Quantity&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'quantity') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a>
						</th>
						<!-- shkar: #6 -->
						<!-- <th class="availableQty dsui-pointer-cursor" data-ng-click="predicate = 'availableQty'; reverse=!reverse">Avail. Qty&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'availableQty') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a>
						</th> -->
						<th class="totalPrice dsui-pointer-cursor" data-ng-click="predicate = 'totalPrice'; reverse=!reverse">Total Price&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'totalPrice') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a>
						</th>
						<th class="deliveryDate dsui-pointer-cursor" data-ng-click="predicate = 'deliveryDate'; reverse=!reverse">Delivery Date&nbsp;<a href="javascript:void(0);"><i class="{{ (reverse && predicate == 'deliveryDate') && 'fa fa-sort-asc' || 'fa fa-sort-desc'}}"></i></a>
						</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="purchaseRequestObject in pr.displayPRs | orderBy:predicate:reverse">
						<td><span><input type="checkbox" data-ng-model="purchaseRequestObject.isChecked" data-ng-click="fnAddToSelectedList(purchaseRequestObject)"/></span></td>
						<td><span data-ng-bind="purchaseRequestObject.prNumber | truncateZeroes:'':''"></span></td>
						<td data-ng-bind="purchaseRequestObject.materialId | truncateZeroes:'':''"></td>
						<td data-ng-bind="purchaseRequestObject.materialName"></td>
						<td data-ng-bind="purchaseRequestObject.prReleaseDate"></td>
						<td>
							<select class="dsui-results-perpage" data-ng-model="purchaseRequestObject.vendorId" data-ng-options="vendor.vendorId as vendor.vendorName for vendor in purchaseRequestObject.vendors" data-ng-change="fnHandleChangeOfVendor(purchaseRequestObject)">
							</select>
						</td>
						<td data-ng-bind="purchaseRequestObject.plant"></td>
						<td class="text-right" data-ng-bind="purchaseRequestObject.quantity"></td>
						<!-- shkar: fix for #6 -->
						<!-- <td data-ng-bind="purchaseRequestObject.availableQty"></td> -->
						<!-- shkar: fix for #5 -->
						<td class="text-right" data-ng-bind="purchaseRequestObject.totalPrice | limitToTwo: '':''"></td>
						<td data-ng-bind="purchaseRequestObject.deliveryDate"></td>
						<td><a href="javscript:void(0);">More</a></td>
					</tr>
				</tbody>
				<tfoot>
					<td colspan="11">
						<span class="dsui-table-head0">Purchase Requisitions 1- <span data-ng-bind="pr.displayPRs.length<pr.selectedPageSize.pages && pr.displayPRs.length || pr.selectedPageSize.pages"></span> of <span data-ng-bind="pr.completePRs.length"></span></span>
						<div class="pull-right dsui-results-perpage-div">
							<span>Results per page</span>
							<select class="dsui-results-perpage" data-ng-model="pr.selectedPageSize" data-ng-options="page as page.pages for page in pr.pageSizes" data-ng-change="fnRecordsDisplayPerPage(pr.selectedPageSize);">
							</select>
						</div>
					</td>
				</tfoot>
			</table>
		</div>
</div>
		