/* Delivery Details Css*/
.nav-tabs {
	border-bottom: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #FFFFFF;
	background-color: #333333;
	border-right-width: 0px;
	border-top-width:0px;
	border-bottom-width: 2px;
}
.nav-tabs > li:nth-child(1) > a,
.nav-tabs > li:nth-child(1) > a:hover{
	border-left:0px;
} 
.nav-tabs > li > a {
	border-left:1px solid #919191;
	margin-right: 0px;
	border-radius: 0px;
	background: #CECFCE;
	color: #ffffff;
}
.nav-tabs > li > a:hover {
	border: 1px solid transparent;
	border-left:1px solid #919191;
}
.dsui-proc-btn{
	padding: 0.3em 0.9em;
	border-radius: 10px;
	margin-right:1em; 
}
.dsui-proc-head {
	.dsui-head-left{
		padding-top: 7px;
		padding-left: 5px;
	}
	margin: 0px;
	padding: 0.5em;
	background: #333333;
	color: #fff;
	.btn-success{
		padding:0.3em 2em;
		margin-right: -5px;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.btn-default{
		padding:0.3em 1em;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}
	.btn-warning{
		padding: 0.3em 1em;
		border-radius: 1em;
	}
	.dsui-proc-btn-confirm-gr{
		padding: 0.4em 1em;
		border-radius: 10px;
	}
}
.dsui-proc-body {
	.dsui-proc-no-padding{
		padding:0px;
	}
	background: transparent;
	border: 0px;
	border-radius: 0px;
	a{
		text-decoration: underline;
	}
	.dsui-proc-body-ul{
		.dsui-proc-body-right{
			display: inline;
			padding: 0px;
			input{
			}
		}
		ul{
			padding:0px;
			list-style: none;
			li span:nth-child(1){
				font-weight:bold;
			}
		}
	}
}
.dsui-proc-well{
		background: #fff;
		border: 0px;
		box-shadow: none;
		margin-bottom: 0px;
		font-size:15px;
		.dsui-delivery-create-buttons{
			border:1px solid #419641;
			border-radius:5px;
			background: #fff;
			color: #419641;
			width:150px;
		}
		.dsui-proc-head2{
			font-size: 26px !important ;
			color:rgb(34, 184, 255);
		}
		.dsui-table-head{
			background: #343434;
			height: 40px;
			margin-top: 10px;
		}
		.dsui-table-head0{
			line-height: 40px;
		}
		.dsui-search{
			border-radius: 30px;
			margin-right:10px;
			margin-top:3px;
		}
		.dsui-search-div span i{
			padding-left: 0px;
			padding-top: 12px;
			position: absolute;
		}
		.dsui-search-div input{
			padding-left: 38px;
		}
		.dsui-search-div span.input-group-addon{
			background: none !important;
			border: none !important;
			position: absolute !important;
		}
		.dsui-results-perpage{
			width: 65px;
		}
		.dsui-results-perpage-div{
			margin-top:27px;
			margin-right: 10px;
		}
		.dsui-pr-grid thead tr th {
			color:#453b33;
			font-size:0.8em;
			font-weight: bold;
		}
		.dsui-pr-grid thead tr th a{
			color:#000;
			cursor: pointer;
		}
		.dsui-pr-grid thead th .dsui-white{
			color:#fff !important;
		}
		.dsui-pr-grid tbody tr td {
			color:#453b33;
			font-size:0.8em;
		}
		.dsui-pr-grid tbody tr:nth-child(even) {background: #f3f3f3}
		.dsui-pr-grid tbody tr:nth-child(odd) {background: #FFF}
		.dsui-pr-grid thead tr{
			background: #d0d0d0;
		}
}
.dsui-status-startDate{
	margin: 5px 5px 0px 0px;
}
.dsui-datefield{
		width:100px;
		input{
			box-shadow:none;
			border-right: none;
			padding: 6px 2px !important;
		}
		.input-group-btn{
			box-shadow: none !important;
			border-left:none !important;
			background: #FFFFFF;
			button{
				padding:6px 2px !important;
				box-shadow: none;
				background: #fff;
				border-left: none;
			}
		}
		.glyphicon{
			color: #CCCCCC;
		}
	}