.dsui-list-header{
	.dsui-header-left{
		.dsui-search-bar{
			padding: 1em;
			.dsui-customer-selection{
				background-color: #fff;
				padding: 0px;
				.dsui-customer-selectbox{
					border: none;
				}
			}
			
		}
	}
	.dsui-header-right{
		.dsui-create-buttons{
			padding: 1em;
			.dsui-create-delivery-button{
				background-color: #2ECC71;
				color:#fff;
			}
			.dsui-modify-delivery-button{
				background-color: #3E85C2;
				color: #fff;
			}
		}
	}
}
.dsui-list-body{
	.dsui-list-table{
		.dsui-list-table-count{
			font-size: 1.3em;
		}
		.dsui-list-create-table-body{
			.dsui-list-create-table-head{
				tr{
					th{
						font-size: 0.8em;
					}
				}
			}
		}
	}
}
