.nav-tabs {
	border-bottom: 0px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #FFFFFF;
	background-color: #333333;
	border-right-width: 0px;
	border-top-width:0px;
	border-bottom-width: 2px;
}
.nav-tabs > li:nth-child(1) > a,
.nav-tabs > li:nth-child(1) > a:hover{
	border-left:0px;
} 
.nav-tabs > li > a {
	border-left:1px solid #919191;
	margin-right: 0px;
	border-radius: 0px;
	background: #CECFCE;
	color: #ffffff;
}
.nav-tabs > li > a:hover {
	border: 1px solid transparent;
	border-left:1px solid #919191;
}
.dsui-proc-btn{
	padding: 0.3em 0.9em;
	border-radius: 10px;
	margin-right:1em; 
}
.dsui-proc-head {
	.dsui-head-left{
		padding-top: 7px;
		padding-left: 5px;
	}
	margin: 0px;
	padding: 0.5em;
	background: #333333;
	color: #fff;
	.btn-success{
		padding:0.3em 2em;
		margin-right: -5px;
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.btn-default{
		padding:0.3em 1em;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
	}
	.btn-warning{
		padding: 0.3em 1em;
		border-radius: 1em;
	}
	.dsui-proc-btn-confirm-gr{
		padding: 0.4em 1em;
		border-radius: 10px;
	}
	
}
.dsui-proc-body {
	.dsui-proc-no-padding{
		padding:0px;
	}
	background: transparent;
	border: 0px;
	border-radius: 0px;
	a{
		text-decoration: underline;
	}
	.dsui-proc-body-ul{
		.dsui-proc-body-right{
			display: inline;
			padding: 0px;
			input{
				width:75%;
			}
		}
		ul{
			padding:0px;
			list-style: none;
			li span:nth-child(1){
				font-weight:bold;
			}
		}
	}
}