.dsui-proc-well{
		background: transparent;
		border: 0px;
		box-shadow: none;
		.dsui-table-head{
			background: #343434;
			height: 40px;
			margin-top: 10px;
		}
		.dsui-table-head0{
			line-height: 40px;
		}
		.dsui-search{
			border-radius: 30px;
			margin-right:10px;
			margin-top:3px;
		}
		.dsui-search-div span i{
			padding-left: 0px;
			padding-top: 12px;
			position: absolute;
		}
		.dsui-search-div input{
			padding-left: 38px;
		}
		.dsui-search-div span.input-group-addon{
			background: none !important;
			border: none !important;
			position: absolute !important;
		}
		.dsui-results-perpage{
			width: 65px;
		}
		.dsui-results-perpage-div{
			margin-top:27px;
			margin-right: 10px;
		}
		.dsui-pr-grid thead tr th {
			color:#453b33;
			font-size:0.8em;
			font-weight: bold;
		}
		.dsui-pr-grid thead tr th a{
			color:#000;
			cursor: pointer;
		}
		.dsui-pr-grid thead th .dsui-white{
			color:#fff !important;
		}
		.dsui-pr-grid tbody tr td {
			color:#453b33;
			font-size:0.8em;
		}
		.dsui-pr-grid tbody tr:nth-child(even) {background: #f3f3f3}
		.dsui-pr-grid tbody tr:nth-child(odd) {background: #FFF}
		.dsui-pr-grid thead tr{
			background: #d0d0d0;
		}
}

.dsui-tr-tabs{
			color:#525557 !important;
			font-size:0.85em !important;
	}