<!-- Modal box for Cost Analysis -->
	<div class="modal fade" id="priceAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dsui-color-white dsui-bg-blue">        
        <h4 class="modal-title text-center" id="myModalLabel" >Price Analysis <span type="button" class="pull-right dsui-pointer-cursor" data-dismiss="modal"><span aria-hidden="true">Cancel</span></span></h4>
      </div>
      <div class="modal-body">
	       <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-6"><span class="text-info">Material:</span><span> 02733901</span></div>
		       	<div class="col-sm-6"><span class="text-info">Description:</span><span> Carbon Fibre Pipes</span></div>
	      </div>
	      <hr/>
	      <div class="col-md-12">
		      <table class="table">
		      		<tr >
		      			<th style="border-top: 0px !important;">Particulars</th>
		      			<th style="text-align:right; border-top: 0px !important; ">Amount</th>
		      			<th style="text-align:right; border-top: 0px !important;">Currency</th>
		      		</tr>
		      		<tr style="border-top:0px !important;">
		      			<td>Base Price</td>
		      			<td style="text-align:right;">150.00</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td>Customer/Material Disc.</td>
		      			<td style="text-align:right;">2.00</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td>Customer Discount</td>
		      			<td style="text-align:right;">1.48</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td style="border-bottom: 1px solid #ddd;" ></td>
		      			<td style="text-align:right; border-bottom: 1px solid #ddd;"><b>Total: 146.52</b></td>
		      			<td style="text-align:center; border-bottom: 1px solid #ddd;"><b>USD</b></td>
		      		</tr>
					</table>
	      </div>
      </div>
      <div class="modal-footer" style="border-top: 0px;">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- modal box for Cost Analysis ending-->

<!-- Modal box for Price Analysis -->
	<div class="modal fade" id="costAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dsui-color-white dsui-bg-blue">        
        <h4 class="modal-title text-center" id="myModalLabel" >Cost Analysis <span type="button" class="pull-right dsui-pointer-cursor" data-dismiss="modal"><span aria-hidden="true">Cancel</span></span></h4>
      </div>
      <div class="modal-body">
	       <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-6"><span class="text-info">Material:</span><span> 02733901</span></div>
		       	<div class="col-sm-6"><span class="text-info">Description:</span><span> Carbon Fibre Pipes</span></div>
	      </div>
	      <hr/>
	      <div class="col-md-12">
		      <table class="table">
		      		<tr >
		      			<th style="border-top: 0px !important;">Particulars</th>
		      			<th style="text-align:right; border-top: 0px !important; ">Amount</th>
		      			<th style="text-align:right; border-top: 0px !important;">Currency</th>
		      		</tr>
		      		<tr style="border-top:0px !important;">
		      			<td>Material Cost</td>
		      			<td style="text-align:right;">80.00</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td>Freight Cost</td>
		      			<td style="text-align:right;">15.00</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td>Overhead Cost</td>
		      			<td style="text-align:right;">5.00</td>
		      			<td style="text-align:center;">USD</td>
		      		</tr>
		      		<tr>
		      			<td style="border-bottom: 1px solid #ddd;" ></td>
		      			<td style="text-align:right; border-bottom: 1px solid #ddd;"><b>Total: 100.00</b></td>
		      			<td style="text-align:center; border-bottom: 1px solid #ddd;"><b>USD</b></td>
		      		</tr>
					</table>
	      </div>
      </div>
      <div class="modal-footer" style="border-top: 0px;">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- modal box for Price Analysis ending-->