<!-- Select Customer Modal Box-->

<div class="container">
	<div class="modal customer-select-wrapper"   backdrop= "static" id="customerSelectionModal"  tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	    	
	    	<!-- Modal Box Header -->
	      <div class="modal-header">
	      	<div class="col-md-12 col-sm-10 col-xs-12">
		      	<div class="col-md-offset-5">
							<span class="modal-title" id="createUserModalLabel">
							 	Select Customer
							</span>
							<a href="#" data-ng-click="closeCustomerModal()" class="pull-right">Cancel</a>
		      	</div>	      		
	      	</div>

	    	</div>
	    	<!-- End of Modal Box Header -->

	    	<!-- Modal Box Content -->
	    	<div class="modal-body dsui-modle-font">
	    		<div class="row ">
	    			<div class="col-md-9 col-xs-12 col-sm-6">		
							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2">Customer<br/> Name</div>
								<div class="col-md-10 col-xs-10 col-field" >
									<div class="input-group customerSelect-box">
						      	<input type="text" class="form-control" placeholder="Search by Customer Number, Name or Location" data-ng-model="products.customerSearch" name="search-term" id="search-term">
							      <div class="input-group-btn">
							        <button class="btn btn-default search-btn" type="button" data-ng-click="fnSearchCustomers();"><i class="glyphicon glyphicon-search"></i></button>
							      </div>
						    	</div>
								</div>
							</div>

							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2 search-label" >
								</div>
								<div class="col-md-10 col-xs-10 search-results-header" >
									<div class="row customer-data-row">
										<div class="col-md-4" ><b>Customer Number</b></div>
										<div class="col-md-4" ><b>Name</b></div>
										<div class="col-md-4" ><b>Location</b></div>
									</div>									
								</div>
							</div>							
							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2 search-label" >Search Results<br/> (<span data-ng-bind="products.displayCustomers.length"></span> Items)</div>
								<div class="col-md-10 col-xs-10 search-results" >
									<div data-ng-hide="products.displayCustomers.length != 0">
										<div class="text-center text-muted">
											<p class="clearfix"/>
											<p class="clearfix"/>	<p class="clearfix"/><p class="clearfix"/>							
											<i class="fa fa-3x fa-search"></i>
											<div>No Results Found</div>
										</div>
									</div>
									<div class=" row customer-data-row dsui-pointer-cursor" data-ng-class="(selectedValue == $index) && 'dsui-bg-light-green'"  data-ng-click="fnSelectCustomerDummy($index,customerList);fnCalTotalPrice();" ng-repeat="customerList in products.displayCustomers" >
											<div class="col-md-4 " data-ng-bind="customerList.customerNo"></div>
											<div class="col-md-4 " data-ng-bind="customerList.customerName"></div>
											<div class="col-md-4 " data-ng-bind="customerList.customerLocation"></div>
									</div>									
								</div>
							</div>
	    			</div>
	    		<div class="cutomer-details-row col-sm-10 col-md-12 col-xs-12" data-ng-click="showFinalizedOrder();">
						<p class="clearfix"></p>
						<button style="color:white;" data-ng-class="customerSelection && 'dsui-bg-green ' || 'disabled'" class="pricing-button btn btn-lg pull-right ">Select</button>
					</div>
	    		</div>

				</div> 
	    	<!-- End of Modal Box Content -->

			</div>
		</div>
	</div>
</div>

<!-- End of Select Customer Modal Box-->