	<div class="modal dsui-last-Three-Orders"   backdrop= "static" id="lastThreeOrders"  tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	    	<!-- Modal Box Header -->
	      <div class="modal-header" style="text-align:center;">
					<span class="modal-title" id="createUserModalLabel">
					 	Last Three Orders
					</span>
					<span data-ng-click="fnToggleLastThreeOrdersPopUp()" class="pull-right dsui-pointer-cursor">X</span>
	    	</div>
	    	<!-- End of Modal Box Header -->
	    	<!-- Modal Box Content -->
	    	<div class="modal-body dsui-modle-font">
							<div class="row">
								<div class="col-md-12 col-xs-12 last-three-products-label">
									<div class="col-md-12">
										<div class="col-md-2"><b>Order#</b></div>
										<div class="col-md-2"><b>Order Date</b></div>
										<div class="col-md-2"><b>Total Qty.</b></div>
										<div class="col-md-2"><b>Total Price</b></div>
										<div class="col-md-2"><b>Total Cost</b></div>
										<div class="col-md-1"><b>Profit%</b></div>
										<div class="col-md-1">
										</div>
									</div>
								</div>
								<div class="col-md-12 col-xs-12 last-three-products-results">
									<div class="ordered-products col-md-12" ng-repeat="lastThreeList in order.lastThreeOrdersData">
										<div class="col-md-2"><span data-ng-bind="lastThreeList.orderId"></span></div>
										<div class="col-md-2"><span data-ng-bind="fnDateFormat(lastThreeList.orderDate);"></span></div>
										<div class="col-md-2"><span data-ng-bind="lastThreeList.totalQuantity"></span></div>
										<div class="col-md-2">$<span data-ng-bind="lastThreeList.totalPrice"></span></div>
										<div class="col-md-2">$<span data-ng-bind="lastThreeList.totalCost"></span></div>
										<div class="col-md-1"><span data-ng-bind="lastThreeList.profit"></span>%</div>
										<div class="col-md-1">
											<button class="dsui-color-blue dsui-bg-white dsui-border-blue dsui-border-blue btn btn-default btn-xs items-btn">See Items</button>
										</div>
									</div>
								</div>
							</div>
				</div> 
	    	<!-- End of Modal Box Content -->
			</div>
		</div>
	</div>