<div class="dsui-products col-sm-12 dsui-zero-padding" data-ng-init="fnInitialize();">
	<div class="col-sm-9 dsui-products-content">
		<div class="col-sm-12 dsui-zero-padding">
			<div class="col-sm-8 dsui-zero-padding">
					<form>
					<div class="input-group col-sm-12 dsui-search-bar">
						<input type="text" class="form-control" placeholder="Type your search here..." class="dsui-search-box" data-ng-model="products.searchText"/>
						<span class="input-group-btn">
							<button data-ng-disabled="!products.searchText.length>0" class="btn dsui-bg-blue dsui-search-Btn" type="submit">Search!</button>
						</span>
					</div>
				</form>
			</div>
			<div class="col-sm-4 dsui-zero-padding dsui-filter">
				<div class="form-group col-sm-12 dsui-zero-padding dsui-filter-section">
					<label for="inputPassword" class="col-sm-3 control-label dsui-zero-padding text-right dsui-filter-text">Filter</label>
					<div class="col-sm-9 dsui-zero-padding">
						<div class="input-group">
							<input type="text" class="form-control dsui-filter-box" id="inputPassword" placeholder="Select filters here..." />
							<span class="input-group-addon"><i class="fa fa-filter dsui-color-grey"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12" data-ng-show="products.displayProducts.length > 0">
			<div class="dsui-serach-result-txt"><span><b>Search Results </b></span><span>(<span data-ng-bind="products.displayProducts.length"></span> items):</span></div>
		</div>
		<!-- individual product item  -->
		<div class="col-sm-8" data-ng-show="fnEvaluateNoResultsDisplay()">
			<div class="dsui-serach-result-txt"><span>There are no products names, numbers, or descriptions that match your search criteria. If this is a <span class="dsui-color-light-blue dsui-pointer-cursor dsui-text-decoration" data-toggle="modal" data-target="#emptyBuyoutProductModal">Buy Out then click here</span></span></div>
		</div>
		<div class="col-sm-12 dsui-products-catalog" style="height:600px;overflow:auto;"  data-ng-show="products.displayProducts.length > 0" id="contentLoaded">
			<div class="col-sm-12 dsui-zero-padding dsui-product-row clearfix" data-ng-repeat="product in products.displayProducts" >
				<div class="col-md-5 dsui-product-info">
					<div class="col-sm-12 dsui-zero-padding"><b 
						data-ng-bind-html-unsafe="highlight(product.productDetails.productName,products.searchText)"
						></b></div>
					<div class="dsui-product-detail col-sm-12 dsui-zero-padding">
						<div class="col-sm-7 dsui-zero-padding">Part #:<span 
							data-ng-bind-html-unsafe="highlight(trimNumber(product.productDetails.productId),products.searchText)"
							></span></div>
						<div class="col-sm-5 dsui-zero-padding">Size: <span data-ng-bind="product.productDetails.size"></span></div>
						<div class="col-sm-7 dsui-zero-padding">Group: <span data-ng-bind="product.productDetails.materialType"></span></div>
						<div class="col-sm-5 dsui-zero-padding">UOM: <span data-ng-bind="product.productDetails.UOM"></span></div>
						<div class="col-sm-12 dsui-zero-padding">Description: <span data-ng-bind-html-unsafe="highlight(product.productDetails.productDesc,products.searchText)" id="desc{{$index}}"></span></div>
					</div>
				</div>
				<div class="col-md-6 dsui-product-availability">
					<div class="clearfix">
						<div class="col-sm-6 dsui-zero-padding text-left"><b>Availability</b></div>
						<div class="col-sm-6 dsui-zero-padding text-right" data-ng-click="showOtherBranches(product.productDetails)"><a href="javascript:void(0);">View in Other Branches</a></div>
					</div>
					<div class="clearfix">
						<div class="col-sm-4 col-xs-4 dsui-zero-padding" data-ng-repeat="productAvailability in product.Availability">
							<div class="dsui-branch-type"><b data-ng-bind="productAvailability.branchName"></b></div>
							<div data-ng-bind="productAvailability.branchLocation"></div>
							<div>Branch # <span data-ng-bind="productAvailability.branchId"></span></div>
							<div>Qty:<span data-ng-bind="productAvailability.quantity"></span> units <span data-ng-show="productAvailability.quantity==0"><i class="fa fa-circle dsui-color-red"></i></span></div>
						</div>
					</div>
				</div>
				<div class="col-md-1 dsui-zero-padding">
					<div class="col-sm-12 dsui-zero-padding">
						<div class="col-xs-4 col-md-12 dsui-zero-padding"><img src="images/assets/stockButton.png" data-ng-click="fnAddStock('stock',product);" class="img-responsive dsui-pointer-cursor" /></div>
						<div  class="col-xs-4 col-md-12 dsui-zero-padding img-responsive"><img src="images/assets/crossdockButton.png" data-ng-click="fnOpenTransferModal('crossdock',product);" class="img-responsive dsui-pointer-cursor" /></div>
						<div  class="col-xs-4 col-md-12 dsui-zero-padding img-responsive"><img src="images/assets/buyoutButton.png" data-ng-click="fnOpenBuyOutModal('buyout',product);" class="img-responsive dsui-pointer-cursor" /></div>
					</div>
				</div>
			</div>
		</div>
		<!-- individual product item  -->
		
	</div>
	<div class="col-sm-3 dsui-selected-content dsui-zero-padding" >
		<div class="col-sm-12 text-center dsui-zero-padding dsui-selected-header">
			<span>Selected Products</span>
		</div>
		<div class="col-sm-12 dsui-selected-list-wrapper dsui-left-padding-fix text-left dsui-right-padding-fix" >
			<div class="dsui-selected-list col-sm-12 dsui-zero-padding" >
				<div class="col-sm-12 dsui-selected-item" data-ng-repeat="listItems in cartList">	
					<div class="col-md-9 dsui-zero-padding">
						<div class="col-sm-12 col-xs-6 dsui-zero-padding">
							<div class="col-sm-6 dsui-zero-padding dsui-zero-padding text-left"><span><b data-ng-bind="listItems.productName"></b></span></div>
							<div class="col-sm-6 dsui-zero-padding text-center"><img data-ng-if="listItems.from" data-ng-src="images/assets/{{listItems.from}}.png"></div>
						</div>
						<div class="col-sm-12 col-xs-6 dsui-zero-padding"><span>ID:</span><span data-ng-bind="trimNumber(listItems.productId)"></span></div>
						<div class="col-sm-12 dsui-zero-padding" data-ng-show="customerSelected">
							<div class="col-md-6 dsui-zero-padding text-left">Unit Price : <span data-ng-show="!listItems.editStatus">$<span data-ng-bind="listItems.price | limitToTwo: '':''"></span></span><span data-ng-show="listItems.editStatus"><input type="number" min="1" data-ng-model="listItems.price" style="width:65px;"/></span></div>
							<div class="col-md-6 dsui-zero-padding text-left">Total Price : <span>$<span data-ng-bind="fnCalTotalPriceForItem(listItems) | limitToTwo: '':''"></span></span></div>
						</div>
						<!-- <div class="col-sm-12 dsui-zero-padding" data-ng-show="listItems.from=='buyout'">
							<span>Markup: <span data-ng-show="!listItems.editStatus"><span data-ng-bind="listItems.markUp"></span>%</span><span data-ng-show="listItems.editStatus"><input data-ng-model="listItems.markUp" type="number" min="1" style="width:65px;" /></span></span>
						</div> -->
					</div>
					<div class="col-md-3 dsui-zero-padding text-right" >
						<div class="col-sm-12 text-left dsui-left-padding-fix dsui-right-padding-fix">
							<span><input type="number" min="0" class="dsui-count" data-ng-model="listItems.quantity" data-ng-change="addToChart()"/></span>
							<span><img class="dsui-pointer-cursor" src="images/assets/RemoveCartX.png" data-ng-click="fnRemoveCart($index);"></span>
						</div>
						<div class="col-sm-12 text-left dsui-left-padding-fix dsui-right-padding-fix" data-ng-show="customerSelected">
							<span data-ng-click="fnToggleAdjustStatus(listItems)" data-ng-show="!listItems.editStatus"><img src="images/assets/AdjButton.png"></span><br/>
							<span  data-ng-show="(listItems.editStatus)">
								<i class="glyphicon glyphicon-ok" data-ng-click="fnSaveLatestPrice(listItems)"></i>
								<i class="glyphicon glyphicon-remove" data-ng-click="fnRevertOldPrice(listItems)"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 dsui-select-finalize-section dsui-left-padding-fix text-left dsui-right-padding-fix">
			<div class="clearfix dsui-final-amount-quantity">
				<div><div class="col-xs-9 dsui-left-padding-fix text-left dsui-right-padding-fix">Total Products:</div><div class="col-xs-3 text-left dsui-left-padding-fix" data-ng-bind="cartList.length"></div></div>
				<div><div class="col-xs-9 dsui-left-padding-fix text-left dsui-right-padding-fix">Total Qty:</div><div class="col-xs-3 text-left dsui-left-padding-fix" data-ng-bind="fnGetTotalQuantity()"></div></div>
				<div>&nbsp;</div>
				<div data-ng-show="fnEvaluateManagableActions()"><div class="col-xs-9 dsui-left-padding-fix text-left dsui-right-padding-fix" >Total Price:</div><div class="col-xs-3 text-left dsui-left-padding-fix">$<span data-ng-bind="fnCalTotalPrice()"></span></div></div>
			</div>
			<div class="col-xs-12 dsui-left-padding-fix dsui-right-padding-fix dsui-pointer-cursor" data-ng-click="showCustomerResults();" data-ng-show="!showReview && !(customerSelectedBtn) ">
				<div><div class="col-xs-12 dsui-left-padding-fix text-center dsui-right-padding-fix dsui-bg-blue dsui-customer-select-btn"><span>Select Customer</span></div></div>
			</div>
			<div class="col-xs-12 dsui-left-padding-fix dsui-right-padding-fix dsui-pointer-cursor"  data-ng-show="!showReview && customerSelectedBtn" data-ng-click="transfer('/order',{})" >
				<div><div class="col-xs-12 dsui-left-padding-fix text-center dsui-right-padding-fix dsui-bg-blue dsui-customer-select-btn"><span>Review & Finalize Order</span></div></div>
			</div>
		</div>
	</div>
	<div data-ng-include="products.customerSelect"></div>
	<div data-ng-include="products.buyoutEmptySelect"></div>
	<div data-ng-include="products.transferSelect"></div>
	<div data-ng-include="products.buyOutSelect"></div>
	<div data-ng-include="products.viewOtherBranches"></div>
</div>