	<div class="modal dsui-top-ten-products"   backdrop= "static" id="topTenProducts"  tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	  <div class="modal-dialog" >
	    <div class="modal-content">
	    	
	    	<!-- Modal Box Header -->
	      <div class="modal-header" style="text-align:center;">
					<span class="modal-title" id="createUserModalLabel">
					 	Top 10 Products
					</span>
					<span data-ng-click="fnToggleTopTenProductsPopUp()" class="pull-right dsui-pointer-cursor">X</span>
	    	</div>
	    	<!-- End of Modal Box Header -->
	    	<!-- Modal Box Content -->
	    	<div class="modal-body dsui-modle-font">
	    		<div class="row ">
	    			<div class="col-md-12">
	    					<div class="ordered-products-label col-md-12">
	    						<div class="col-md-10"><b>Part Name</b></div>
	    						<div class="col-md-2"><b>Part #</b></div>
	    					</div>
	    			</div>
    				<div class="ordered-products-wrapper col-md-12">
    					<div class="ordered-products col-md-12" ng-repeat="productList in topProductsList">
    						<div class="col-md-10"><span data-ng-bind="productList.productName"></span></div>
    						<div class="col-md-2"><span data-ng-bind="trimNumber(productList.productId)"></span></div>
    					</div>	    						    						    					
    				</div>
	    		</div>
				</div> 
	    	<!-- End of Modal Box Content -->
			</div>
		</div>
	</div>