 <!-- View Other Branch Modal Box-->

<div class="container">
	<div class="modal customer-select-wrapper"   backdrop= "static" id="viewOtherBranchModal"  tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
	    <div class="modal-content">
	    	
	    	<!-- Modal Box Header -->
	      <div class="modal-header">
	      	<div class="col-md-12 col-sm-10 col-xs-12">
		      	<div class="col-md-offset-5">
							<span class="modal-title" id="createUserModalLabel">
							 	View in Other Branches
							</span>
							<a href="#" data-dismiss="modal" class="pull-right">Cancel</a>
		      	</div>	      		
	      	</div>

	    	</div>
	    	<!-- End of Modal Box Header -->

	    	<!-- Modal Box Content -->
	    	<div class="modal-body dsui-modle-font">
	    		<div class="row ">
	    			<div class="col-md-9 col-xs-12 col-sm-6">		
							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2">Search Results</div>
								<div class="col-md-10 col-xs-10 col-field" >
									<div class="input-group customerSelect-box">
						      	<input type="text" class="form-control" placeholder="Search by Customer Number, Name or Location" data-ng-model="products.customerSearch" name="search-term" id="search-term">
							      <div class="input-group-btn">
							        <button class="btn btn-default search-btn" type="button" data-ng-click=""><i class="glyphicon glyphicon-search"></i></button>
							      </div>
						    	</div>
								</div>
							</div>

							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2 search-label" >
								</div>
								<div class="col-md-10 col-xs-10 search-results-header" >
									<div class="row customer-data-row">
										<div class="col-md-4" ><b>Plant</b></div>
										<div class="col-md-4" ><b>Location</b></div>
										<div class="col-md-4" ><b>Available Quantity</b></div>
									</div>									
								</div>
							</div>							
							<div class="row cutomer-details-row">
								<div class="col-md-2 col-xs-2 search-label" >Search Results<br/><span>(All Items)</span></div>
								<div class="col-md-10 col-xs-10 search-results" >
									<div class=" row customer-data-row dsui-pointer-cursor" data-ng-class="(selectedValue == $index) && 'dsui-bg-blue'" data-ng-click="fnSelectOtherBranch($index,productBranches,otherBranchDetails)" data-ng-repeat="otherBranchDetails in products.branchTempData">
											<div class="col-md-4"><span data-ng-bind="otherBranchDetails.plantId"><span data-ng-bind="otherBranchDetails.plantId && ',' || ''"></span></span></div>
											<div class="col-md-4"><span data-ng-bind="otherBranchDetails.plantLocation"><span data-ng-bind="otherBranchDetails.plantLocation && ',' || ''"></span></span></div>
											<div class="col-md-4"><span data-ng-bind="otherBranchDetails.availableQuantity"><span data-ng-bind="otherBranchDetails.plantLocation && ',' || ''"></span></span></div>
									</div>
								</div>
							</div>
	    			</div>
	    		<div class="cutomer-details-row col-sm-10 col-md-12 col-xs-12" data-ng-click="saveBranchDetails()">
						<p class="clearfix"></p>
						<button data-ng-class="" class="pricing-button btn btn-lg pull-right dsui-bg-blue">Select Branch</button>
					</div>
	    		</div>

				</div> 
	    	<!-- End of Modal Box Content -->

			</div>
		</div>
	</div>
</div>

<!-- End of Select Customer Modal Box