<div class="dsui-delivery-create col-sm-12 dsui-zero-padding">
	<div class="col-sm-4 dsui-zero-padding dsui-create-detail-left">
		<ul class="nav nav-pills nav-justified dsui-nav-list-parent col-sm-12 dsui-zero-padding">
		  <li data-ng-class="delivery.createTab.tab=='sales' && 'active' || '' "><a href="javascript:void(0);" data-ng-click="fnmakeThisActive('sales');">Sales Order </a></li>
		  <!-- data-ng-class="header.selectTab=='delivery' && 'active' || ''" -->
      <li data-ng-class="delivery.createTab.tab=='branch' && 'active' || '' "><a href="javascript:void(0);" data-ng-click="fnmakeThisActive('branch');">Branch</a></li>
      <li data-ng-class="delivery.createTab.tab=='customer' && 'active' || '' "><a href="javascript:void(0);" data-ng-click="fnmakeThisActive('customer');">Customer </a></li>
		</ul>
		<div class="input-group col-sm-12 dsui-zero-padding dsui-serach">
      <input type="text" class="form-control dsui-zero-border-radius dsui-search-input" placeholder="" name="query" value="" data-ng-model="delivery.createSarch">
        <div class="input-group-btn" >
	      <button type="submit" class="btn dsui-serach-icon-bg dsui-zero-border-radius" data-ng-click="getSalesOrders();" data-ng-disabled="!(delivery.createSarch)"><span class="glyphicon glyphicon-search"></span></button>
	    </div>
  	</div>
  	<div class="col-sm-12 dsui-zero-padding" data-ng-show="delivery.salesOrders.length>0">
	  	<div class="col-sm-12 dsui-create-sales-order-number dsui-pointer-cursor" data-ng-repeat="sales in delivery.salesOrders" data-ng-click="fnShowSalesOrders(sales)" >
	  		<span>Sales Order </span><span data-ng-bind="sales.salesOrderId"></span>
	  	</div>
  	</div>
	</div>

	<div class="col-sm-8 dsui-create-detail-right" data-ng-show="delivery.orderSelected">
		<div class="dsui-create-table">
			<div class="dsui-create-table-count col-sm-12 dsui-zero-padding">
				<div class="col-sm-6">
					<span class="dsui-delivery-order-page-count">Sales Order </span><span data-ng-bind="delivery.salesData.salesOrderId"></span>
				</div>
				<div class="col-sm-6 text-right">
					<button type="button" class="btn btn-success" data-ng-click="fnOpenCreateDeliveryPage(delivery.salesData.deliveryLineItems,delivery.salesData);">Create Delivery</button>
				</div>
			</div>
			<div class="dsui-delivery-detail-table-body">
				<table class="table">
					<thead class="dsui-delivery-detail-tbale-head">
						<tr>
							<th class="col-sm-1"></th>
							<th class="col-sm-2 text-center">Material </th>
							<th class="col-sm-3 text-center">Material Description</th>
							<th class="col-sm-2 text-center">Quantity</th>
							<th class="col-sm-2 text-center">Weight</th>
							<th class="col-sm-2 text-center">Plant</th>							
						</tr>
					</thead>
					<!-- <tfoot>
              <td colspan="9">
                  <span class="dsui-table-head0 tdsui-table-bottom">1- {{selectedPages.pages}} of {{items.length}} Purchase Requisitions</span>
                  <div class="pull-right dsui-results-perpage-div">
                      <span>Results per page</span>
                       <select class="dsui-results-perpage" ng-model="selectedPages" ng-options="page as page.pages for page in pageResults" data-ng-change="fnRecordsDisplayPerPage(selectedPages);">
                       </select>
                  </div>
              </td>
          </tfoot> -->
          
					<tbody>
						<tr data-ng-repeat="item in delivery.salesData.deliveryLineItems">
							<td class="col-sm-1 text-right"><input type="checkbox" data-ng-model="item.isChecked"></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.materialId |truncateZeroes:'':''"></span></td>
							<td class="col-sm-3 text-center"><span data-ng-bind ="item.materialDescription"></span></td>
							<td class="col-sm-2 text-center"><span data-ng-bind ="item.quantity"></span></td>
							<td class="col-sm-2 text-center"><span data-ng-bind ="item.weight | limitToTwo: '':''"></span><span data-ng-show="item.weight"> lbs.</span></td>
							<td class="col-sm-3 text-center"><span data-ng-bind ="item.plantId"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>