<div class="dsui-pr">
	<div class="row dsui-proc-head">
		<div class="col-xs-5 pull-left dsui-head-left">#80073411 - *Insert Item Description*</div>
		<div class="col-xs-7">
			<div class="pull-right">
				<button type="button" class="btn btn-success">Details</button>
				<button type="button" class="btn btn-default">Conditions</button>
				<button type="button" class="btn btn-warning" data-ng-click="fnOpenHeatCodeModal()">Heat Code</button>
			</div>
		</div>
	</div>
	<div class="well dsui-proc-body">
		<div><a class="pull-right" href="javascript:void(0)">Remove Line Item</a></div>
		<p class="clearfix"></p>
		<div class="row dsui-proc-body-ul">
			<div class="col-sm-5 row">
				<div class="col-sm-6">
					<ul>
						<li>
							<span>Material Group:</span> 
							<span> R31</span>
						</li>
						<li>
							<span>Sales Order #:</span> 
							<span> 14988001</span>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 dsui-proc-no-padding">
					<ul>
						<li >
							<span>Plant #:</span> 
							<span> 1100</span>
						</li>
						<li >
							<span>Storage Location:</span>
							<span><input value="1400" style="width:50px;" /></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-7 row">
				<ul>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>Delivery Qty.</span><br/>
						<span ><input value="140" style="width:50px;" /></span>
					</li>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>Pick Qty.</span><br/>
						<span ><input value="140" style="width:50px;" /></span>
					</li>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>UoM</span><br/>
						<span >LB</span>
					</li>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>Weight</span><br/>
						<span >8,000 lbs.</span>
					</li>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>Total Price</span><br/>
						<span >$3,535</span>
					</li>
					<li class="col-sm-2 dsui-proc-body-right">
						<span>Delivery Date</span><br/>
						<span class='input-group dsui-datefield' style="width:80px;" >
		                <input type='text' class="form-control" datepicker-popup="{{format}}" is-open="openedStart" ng-model="dt" min-date="minDate" max-date="'2015-06-22'" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" data-ng-change="getEndDate(dt)" />
		                <span class="input-group-btn">
		                	<button type="button" class="btn btn-default dsui-zero-padding" ng-click="openStartDate($index)"><i class="glyphicon glyphicon-calendar"></i></button>
		                </span> 
           	</span>
						<!-- <input type='text' class="form-control" datepicker-popup="{{format}}" is-open="openedStart" ng-model="dt" min-date="minDate" max-date="'2015-06-22'" date-disabled="disabled(date, mode)" close-text="Close" style="width:100px;" /> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal"   backdrop= "static" id="deliveryHeatCode"  tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
	  <div class="modal-dialog" >
	    <div class="modal-content">
	    	
	    	<!-- Modal Box Header -->
	      <div class="modal-header" style="text-align:center;background:#00A1DE;color:#fff">
					<span class="modal-title" id="createUserModalLabel">
					 	Enter Heat Code
					</span>
					<span data-dismiss="modal" class="pull-right dsui-pointer-cursor">Cancel</span>
	    	</div>
	    	<!-- End of Modal Box Header -->
	    	<!-- Modal Box Content -->
	    	<div class="modal-body dsui-modle-font">
	    		<div class="row ">
	    			<div class="col-md-12">
	    				<div style="margin-bottom:15px;"><span style="color:rgb(34, 184, 255);">Material #: </span><span style="color: lightgrey;">80073411</span></div>
	    				<div style="margin-bottom:15px;"><input class="form-control" placeholder="Enter heat code here"/></div>
	    				<div style="margin-bottom:15px;"><input class="form-control" placeholder="Enter heat code here"/></div>
	    				<div style="margin-bottom:15px;"><input class="form-control" placeholder="Enter heat code here"/></div>
	    				<div style="margin-bottom:15px;"><input class="form-control" placeholder="Enter heat code here"/></div>
							<button class="pull-right btn btn-success">Apply</button>
	    			</div>
	    		</div>
				</div>
	    	<!-- End of Modal Box Content -->
			</div>
		</div>
	</div>

