<div class="dsui-delivery-detail">
	<div class="well dsui-proc-well">
	<div class="pull-left">
		<button type="button" class="btn btn-default" style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" data-ng-click = "fnGoToDashBoard();">Back</button>
	</div>
	<div class="pull-right">
		<button type="button" data-ng-show="delivery.enablePrint" class="btn btn-default dsui-delivery-create-buttons"> <i class="fa fa-print"></i> Print Picking Slip</button>
		<button type="button" data-ng-show="delivery.enablePrint" class="btn btn-default dsui-delivery-create-buttons"> <i class="fa fa-print"></i> Print Packing Slip</button>
		<button type="button" data-ng-show="delivery.enablePrint && !(delivery.enableDoc)" style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" class="btn btn-default" data-ng-click="fnSavePgi();"> <i class="fa fa-circle" ></i> PGI</button>
		<button type="button" data-ng-show="delivery.enableDoc" class="btn btn-default dsui-delivery-create-buttons" data-ng-click="fnAcountingDocDetails();" data-toggle="modal" data-target="#DocDeliveryDetailsModal"> <i class="fa fa-file-text" ></i> Acounting Doc</button>
		<a class="dsui-proc-a" href="javascript:void(0)" data-ng-click="fnClearCompleView()">Cancel</a>
		<button type="button" class="btn btn-warning">Notes</button>
		<button type="button" class="btn btn-success" data-ng-show="!(delivery.editModeDisabled)" data-ng-click="fnDisableEditMode();">Save</button>
		<button type="button" class="btn btn-success" data-ng-show="delivery.editModeDisabled" data-ng-click="fnEnableEditMode();">Edit</button>
	</div>
	<p class="clearfix"></p>
	<div class="dsui-proc-head1"><img src="images/customer/0000100020.jpg"></div>
	<div class="dsui-proc-head2">Delivery  <span data-ng-bind="delivery.delivaryDataOriginal.deliveryId|truncateZeroes:'':''"></span><span data-ng-show="!(delivery.delivaryDataOriginal.deliveryId)">--------</span></div>
	<p class="clearfix"></p>
	<div class="row">
		<div class="col-sm-1"><img src="images/assets/truck.png"></div>
		<div class="col-sm-3"><strong>Truck Load: </strong><span data-ng-bind="delivery.totalTruckLoad  | limitToTwo: '':''"></span data-ng-show="delivery.totalTruckLoad"> lbs.</div>
		<div class="col-sm-3"><strong>Ship-to-Party: </strong><span data-ng-bind="delivery.salesData.shipToPartyCustomer | truncateZeroes:'':''"></span></div>
		<div class="col-sm-5"><strong>Ship-to-Address: </strong><!-- <span data-ng-bind="delivery.salesData.shipToAddress"> --></span><span >133 Jackson St. San Francisco, CA 94111</span></div>
	</div>
</div>
	<div >
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<!-- <li data-ng-repeat ="template in templates" class="{{template.actCls}}">
				<a href="#{{template.id}}" role="tab" data-toggle="tab">{{template.title}}</a>
			</li> -->
			<li class="active"><a>Delivery Line Items</a></li>
			<li><a>Delivery Header Details</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div data-ng-repeat ="template in deliveryTemplates" class="tab-pane {{template.actCls}}"  id="{{template.id}}">
				<div data-ng-include="template.url"></div>
			</div>
		</div>
	</div>
</div>

<!-- modal box for Doc Details Starting-->
	<div class="modal fade" id="DocDeliveryDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dsui-doc-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel" >Accounting Doc</h4>
      </div>
      <div class="modal-body">
	       <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Document:&nbsp;</span><span class="text-muted" data-ng-bind="delivery.DocDetails.documentNo"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Company Code:&nbsp;</span><span class="text-muted" data-ng-bind="delivery.DocDetails.companyCode"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Fiscal Year:&nbsp;</span> <span class="text-muted" data-ng-bind="delivery.DocDetails.finalYear"></span></div>
	      </div>
	      <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Posting Date:&nbsp;</span><span class="text-muted" data-ng-bind="delivery.DocDetails.postingDate"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Plant:&nbsp;</span><span class="text-muted">Ponca City, OK</span></div>
	      </div>
	      <hr/>
	      <div class="col-md-12">
		      <table class="table">
		      	<thead>
		      		<tr>
		      			<th>Account No</th>
		      			<th>Description</th>
		      			<th>Pst Key</th>
		      			<th>Amount</th>
		      			<th>Currency</th>
		      		</tr>
		      	</thead>
		      	<tbody>
		      		<tr data-ng-repeat="doc in delivery.DocDetails.TBseg">
		      			<td data-ng-bind="doc.glAccount"></td>
		      			<td data-ng-bind="doc.description"></td>
		      			<td data-ng-bind="(doc.postingIndicator == 'S') && 'Dr' || ((doc.postingIndicator == 'H') && 'Cr') "class="text-center"></td>
		      			<td data-ng-bind="(doc.amount<0) && (doc.amount * -1) || (doc.amount) | limitToTwo: '':''" class="text-right"></td>
		      			<td data-ng-bind="doc.currencyKey"></td>
		      		</tr>
		      	</tbody>
					</table>
	      </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- modal box for Doc Details ending-->
