<div class="well dsui-proc-well">
	<form data-ng-submit="fnSavePO();">
	<div class="col-md-6 pull-right text-right">
		<span class="text-muted" href="javascript:void(0)" data-ng-show="!po.poCreatedStatus">Delete PO </span>
		<button type="button" data-ng-show="confirmGr && displayAccountBtn" data-ng-click="fnDisplayProcurementAccDetails();"style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" class="btn btn-default" data-toggle="modal" data-target="#ProcurementDocDetailsModal"> <i class="fa fa-dollar"></i> Accounting Doc</button>

		<span data-ng-click="fnToogleDetailView()">&nbsp;&nbsp;<a class="dsui-proc-a" href="javascript:void(0)"> Cancel </a></span>
		<span data-ng-show="!po.poCreatedStatus">&nbsp;&nbsp;<a class="dsui-proc-a" href="javascript:void(0)"> Check Entries </a></span>
		<button type="button" class="btn btn-info" data-ng-show="po.poCreatedStatus"> Share </button>
		<button type="button" class="btn btn-warning"> Notes </button>
		<button type="submit" class="btn btn-success" data-ng-hide="po.poCreatedStatus" data-ng-click="po.poCreatedStatus=!po.poCreatedStatus;"> Save </button>
		<button type="button" class="btn btn-success" data-ng-show="po.poCreatedStatus" data-ng-click="po.poCreatedStatus=!po.poCreatedStatus;"> Edit </button>
	</div>
<p class="clearfix"></p>
	<div class="col-md-6">
		<div class="dsui-proc-head1 text-muted"><span data-ng-bind="fnGetPoObj().vendorName"></span></div>
		<span class="dsui-proc-head2 text-primary"><span class="dsui-po-font-size"> PO </span><span class="dsui-po-font-size" data-ng-bind="fnGetPoObj().poNumber"></span> <span class="dsui-green fa fa-circle"> Open</span>
	</div>
	<div class="col-md-6 pull-right text-right clearfix" data-ng-show="goodsrecipt">
		<button type="button" class="btn btn-success"> Confirm All GR </button>
	</div> 
	<p class="clearfix"></p>
	<p class="clearfix"></p>
	<div class="row">
		<div class="col-sm-4">&nbsp;</div>
		<div class="col-sm-2"><strong>Vendor : </strong> <span class="text-muted" data-ng-bind="fnGetPoObj().vendorId | truncateZeroes:'':''"></span></div>
		<div class="col-sm-3"><strong>Requisitioner: </strong> <span class="text-muted">Joe Smith</span></div>
		<div class="col-sm-2"><strong>Total: </strong> <span class="text-muted">$<span data-ng-bind="fnGetPOTotalPrice(fnGetPoObj())"></span></span></div>
	</div>
	<p class="clearfix"></p>
	<div class="dsui-proc-tabs dsui-tr-tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" data-ng-init="orderLine='false';">
					<li class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab" data-ng-click="orderLine='false';goodsrecipt='false'">Order Line Items</a></li>
				  <li><a href="javascript:void(0)" role="tab">Order Header Details</a></li>
				  <li><a href="javascript:void(0)" role="tab" data-toggle="tab" data-ng-click="goodsrecipt='true';orderLine='true'">Goods Reciept</a></li>
				  <li><a href="javascript:void(0)" role="tab">Invoice</a></li>
				  <li><a href="javascript:void(0)" role="tab">Blocked Invoices</a></li>
				</ul>
			
			<div class="tab-content">
				<div  class="tab-pane active" id="orderlineitems" data-ng-repeat="detailObj in fnGetPoObj().materials">
						<div class="row dsui-proc-head clearfix" data-ng-init="fnGetDispalyObjectForConfirmGR(detailObj);">
							<div class="col-xs-5 pull-left dsui-head-left"><span data-ng-bind="detailObj.materialId | truncateZeroes:'':''"></span> <span data-ng-bind="detailObj.materialName"></span></div>
							<div class="col-xs-7">
								<div class="pull-right" data-ng-hide="goodsrecipt">
									<button type="button" class="btn btn-success">Details</button>
									<button type="button" class="btn btn-default">Conditions</button>
									<button type="button" class="btn btn-warning">Notes</button>
								</div>
								<div class="pull-right" data-ng-show="goodsrecipt && displayConfirmGrBtn">
									<button type="button" class="btn btn-success dsui-confirm-gr" 
									data-ng-click="fnConfirmGR(detailObj)"> Confirm GR </button>
								</div>
							</div>
						</div>
						<div class="dsui-tabset-order-line clearfix">
								<div class="col-sm-12 pull-right text-right dsui-pointer-cursor"><a> Remove LineItem</a></div>
								<div class="col-sm-5">
									<div class="col-sm-6">
										<div>Material Group :  <span class="text-muted" data-ng-bind="detailObj.materialGroup"></span></div>
										<div>Purchase Req . :  <span class="text-muted" data-ng-bind="detailObj.prNumber | truncateZeroes:'':''"></span></div>
									</div>
									<div class="col-sm-6">
											<div>Plant :  <span class="text-muted" data-ng-bind="detailObj.plant"></span></div>
											<div>Storage Location :  <span class="text-muted" data-ng-bind="detailObj.storageLocation"></span></div>
											<div><input type="checkbox" data-ng-disabled="true" data-ng-model="detailObj.supplierAck"/>Acknowledged by Supplier</div>
											<div><input type="checkbox" data-ng-disabled="true" data-ng-model="detailObj.deliveryCompleted"/>Delivery Complete</div>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="col-sm-3">
										<div>Days of Inventory</div>
										<div><span class="dsui-yellow"><i class="fa fa-circle"></i></span> <span class="text-muted" data-ng-bind="detailObj.daysOfInventory" ></span><span> Days</span></div>
									</div>
									<div class="col-sm-1 dsui-zero-padding">
										<div>Qty.</div>
										<span><input type="number" data-ng-disabled="po.poCreatedStatus" class="col-sm-12 dsui-zero-padding" value="1234" data-ng-model="detailObj.quantity" data-ng-required="true"/></span>
									</div>
									<div class="col-sm-1">
										<div>UoM</div>
										<div> <span class="text-muted" data-ng-bind="detailObj.uom"></span></div>
									</div>
									<div class="col-sm-2">
										<div>Unit Price</div><!-- shkar: fix for #9 #7 -->
										<div class="text-right">$<span class="text-muted" data-ng-bind="detailObj.unitPrice | limitToTwo: '':''"></span></div>
									</div>
									<div class="col-sm-2">
										<div>Total Price</div><!-- shkar: fix for #9 -->
										<div>$<span class="text-muted" data-ng-bind="fnGetLineTotal(detailObj) | limitToTwo: '':''"></span></div>
									</div>
									<div class="col-sm-3">
										<div>Delivery Date</div>
											<div>            
													<p class="input-group">
						              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="detailObj.deliveryDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" close-text="Close" data-ng-disabled="po.poCreatedStatus" style="padding:3px;"/>
						              <span class="input-group-btn">
						                <button type="button" class="btn btn-default" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
						            </p>
					          </div>
									</div>
								</div>
						</div>
				</div>

				<!-- <div class="tab-pane" id="goodsrecipt">
						<div class="row dsui-proc-head">
							<div class="col-xs-5 pull-left dsui-head-left">1/4in Dice</div>
							<div class="col-xs-7">
								<div class="pull-right">
									<button type="button" class="btn btn-success dsui-confirm-gr"> Confirm GR </button>
								</div>
							</div>
						</div>
						<div class="dsui-tabset-order-line">
								<div class="col-sm-12 pull-right text-right dsui-pointer-cursor"><a> Remove LineItem</a></div>
								<div class="col-sm-5">
									<div class="col-sm-6">
										<div>Material Group :  <span class="text-muted">R31</span></div>
										<div>Purchase Req . # :  <span class="text-muted">23456789</span></div>
									</div>
									<div class="col-sm-6">
											<div>Plant # :  <span class="text-muted">2345678</span></div>
											<div>Storage Location :  <span class="text-muted">0001</span></div>
											<div><input type="checkbox"/>Acknowledged by Supplier</div>
											<div><input type="checkbox"/>Delivery Complete</div>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="col-sm-3">
										<div>Days of Inventory</div>
										<div><span class="dsui-yellow"><i class="fa fa-circle"></i></span> <span class="text-muted">12 Days</span></div>
									</div>
									<div class="col-sm-1 dsui-zero-padding">
										<div>Qty.</div>
										<span><input type="text" class="col-sm-12 dsui-zero-padding" value="1234" /></span>
									</div>
									<div class="col-sm-1">
										<div>UoM</div>
										<div> <span class="text-muted">LB</span></div>
									</div>
									<div class="col-sm-2">
										<div>Unit Price</div>
										<div> <span class="text-muted">$6.93</span></div>
									</div>
									<div class="col-sm-2">
										<div>Total Price</div>
										<div> <span class="text-muted">$1234</span></div>
									</div>
									<div class="col-sm-3">
										<div>Delivery Date</div>
											<div >            
													<p class="input-group">
						              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="dt1" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" close-text="Close" />
						              <span class="input-group-btn">
						                <button type="button" class="btn btn-default" data-ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						              </span>
						            </p>
					          </div>
									</div>
								</div>
						</div>
				</div> -->


		</div>
	</div>
	<p class="clearfix"/>
</form>
</div>

<!-- modal box for Doc Details Starting-->
	<div class="modal fade" id="ProcurementDocDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dsui-doc-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel" >Accounting Doc</h4>
      </div>
      <div class="modal-body">
	       <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Document:&nbsp;</span><span class="text-muted" data-ng-bind="procurement.DocDetails.documentNo"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Company Code:&nbsp;</span><span class="text-muted" data-ng-bind="procurement.DocDetails.companyCode"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Fiscal Year:&nbsp;</span> <span class="text-muted" data-ng-bind="procurement.DocDetails.finalYear"></span></div>
	      </div>
	      <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Posting Date:&nbsp;</span><span class="text-muted" data-ng-bind="procurement.DocDetails.postingDate"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Plant:&nbsp;</span><span class="text-muted">Ponca City, OK</span></div>
	      </div>
	      <hr/>
	      <div class="col-md-12">
		      <table class="table">
		      	<thead>
		      		<tr>
		      			<th>Account No</th>
		      			<th>Description</th>
		      			<th>Pst Key</th>
		      			<th>Amount</th>
		      			<th>Currency</th>
		      		</tr>
		      	</thead>
		      	<tbody>
		      		<tr data-ng-repeat="doc in procurement.DocDetails.TBseg">
		      			<td data-ng-bind="doc.glAccount"></td>
		      			<td data-ng-bind="doc.description"></td>
		      			<td data-ng-bind="(doc.postingIndicator == 'S') && 'Dr' || ((doc.postingIndicator == 'H') && 'Cr') || 'NA' " class="text-center"></td>
		      			<td data-ng-bind="doc.amount | limitToTwo: '':''" class="text-right"></td>
		      			<td data-ng-bind="doc.currencyKey" class="text-center"></td>
		      		</tr>
		      	</tbody>
					</table>
	      </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- modal box for Doc Details ending-->


