<div data-ng-repeat="obj in objs">
	<div class="row dsui-proc-head">
		<div class="col-xs-6 pull-left dsui-head-left">{{obj.title}}</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<button type="button" class="btn btn-success dsui-proc-btn-confirm-gr">Confirm GR</button>
			</div>
		</div>
	</div>
	<div class="well dsui-proc-body">
		<div><a class="pull-right" href="javascript:void(0)">Remove Line Item</a></div>
		<p class="clearfix"></p>
		<div class="row dsui-proc-body-ul">
			<div class="col-sm-6 row">
				<div class="col-sm-6">
					<ul>
						<li data-ng-repeat="firstLi in obj.li1">
							<span>{{firstLi.key}}</span> : 
							<span>{{firstLi.value}}</span>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 dsui-proc-no-padding">
					<ul>
						<li data-ng-repeat="secondLi in obj.li2" data-ng-show="secondLi.key != ''">
							<span>{{secondLi.key}}</span> : 
							<span>{{secondLi.value}}</span>
						</li>
						<li data-ng-repeat="secondLi1 in obj.li2" data-ng-show="secondLi1.key == ''">
							<span><input type="checkbox"/></span> <span>{{secondLi1.value}}</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 row">
				<ul>
					<li class="col-sm-2 dsui-proc-body-right" data-ng-repeat="thirdLi in obj.li3">
						<span>{{thirdLi.key}}</span><br/>
						<span data-ng-show="thirdLi.field == ''">{{thirdLi.value}}</span>
						<span data-ng-show="thirdLi.field == 'textbox'"><input type="text" data-ng-model="thirdLi.value" /></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

