.dsui{
	.dsui-header{
	}
	.dsui-content{
		.dsui-alerts{
			/*padding-top: 2.5em;*/
			position: fixed;
			z-index: 50;
			width: 100%;
			top: 0;
			left: 0;
			.alert{
				width: 450px;
				margin:0 auto;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
			}
		}
	}
	.dsui-footer{
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-alerts{
			}
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-alerts{
			}
		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-alerts{
			}
		}
		.dsui-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-alerts{
			}
		}
		.dsui-footer{
		}
	}
}