.customer-select-wrapper{
	.modal-header{
		height:50px;
		font-size: 19px;
		background: #00A1DE;
		color:#FFFFFF;
		a{
			text-decoration: none;
			color:#FFFFFF;
		}
	}
	.modal-body{
		font-size: 0.9em;
	}
	.col-field{
		padding-left: 0px;
	}

	.customerSelect-results-header{
			margin-left: 15px;
			text-align: left;
		}
	.search-label{

	}
	.search-results{
		border:1px solid #ccc;
		text-align: left;
		padding:5px 0px 5px 0px;
		border:1px solid #CCCCCC;
		height: 170px;
		overflow: auto;
		.customer-data-row{
			padding: 10px 15px;
			margin-left:5px !important;
			margin-right:5px !important;
			margin-top:5px;
			border-bottom:1px solid #cccccc;
			button{
				background:#fff;
			}
			button:hover{
				background: #fff;
			}
		}
		.customer-data-row:last-child{
			border-bottom:none;
		}
		.col-md-4{
			padding: 0px 0px;
		}
		.col-md-3{
			padding: 0px 0px;
		}
		.col-md-2{
			padding: 0px 0px;
		}
		.col-md-1{
			padding: 0px 0px;
		}
	}

		.search-results-header{
		border:1px solid #ffffff;
		text-align: left;
		padding:5px 0px 5px 0px;
		.customer-data-row{
			padding: 0px 15px;
			margin-left:0px !important;
			margin-right:0px !important;
		}
		.col-md-4{
			padding: 0px;
		}
		.col-md-3{
			padding: 0px;
		}
		.col-md-2{
			padding: 0px;
		}
		.col-md-1{
			padding: 0px;
		}
	}
	.pricing-button{
		padding:10px 40px;
		color:#FFFFFF;
	}
}