.dsui{
	.dsui-header{
	}
	.dsui-content{
		padding-left: 0px;
		padding-right: 0px;
		.dsui-customers{
				background: #fff;
			.dsui-customers-content{
				min-height: 610px;
				padding: 1em;
				background-color: #fff;
				.dsui-search-bar{
						.dsui-search-Btn{
							color:#fff;
						}
				}
				.dsui-check-color{
				color:green;
				}
				.dsui-avg-customer-width{
					width: 174px !important;
					height: 130px;
				}
				.dsui-font-box1{
					color:#4BAADA;
					font-size:3em;
					font-weight: 100;
				}
				.dsui-blue-text-color{
				color: #4BAADA;
				}
				.dsui-font-box2{
					color:#1AC75E;
					font-size:3em;

					font-weight: 100;
				}
				.dsui-font-small-box2{
					color:#1AC75E;
					font-size:1em;
				}
				.dsui-font-small-text{
					font-size: 0.8em;
					color: #303030;
				}.dsui-font-small-head-text{
					font-size: 1em;
					color: #C0C0C0;
				}
				.dsui-row-border{
				border: 1px solid #ECECEC;
				}
				.dsui-row-border-top{
				border-top:1px solid #ECECEC;
				border-bottom:1px solid #ECECEC;
				}
				.dsui-table-green-border{
				border:1px solid #1AC75E;
				color:#1AC75E;
				}
				.dsui-green-color{
				color:#1AC75E;
				}
				.dsui-table-blue-border{
				border:1px solid #00A1DE;
				color:#00A1DE;
				}
				.dsui-table-yellow-border{
				border:1px solid #F6D27A;
				color:#F6D27A;
				}
				.dsui-font-gray-box{
				color:#ABABAB;
				font-size:3em;
				font-weight: 100;
				}
				.axis path,
				.axis line {
				  fill: none;
				  stroke: #000;
				  shape-rendering: basic;
				}

				.axis path1,
				.axis line {
				  fill: none;
				  stroke: #000;
				  shape-rendering: basic;
				}

				.area {
				  fill: gray;

				}
				.area1{
				  fill: #5E5E5E;

				}
				.dsui-ytd-row-right-border{
					border-right: 1px solid #cecece;
					height: 4em;
				}
				.dsui-font-table-head{
					color: #DADADA;
				}
				.dsui-font-table-head-row{
					color: #000;
				}
				.dsui-row-margin{
					margin-left: 1em;
				}
				.dsui-font-gray-color{
					color: #ABABAB;
					font-size:0.8em;
				}
				.dsui-font-size-small{
					font-size: 0.7em !important;
					color: #00A1DE;
				}
				.dsui-font-size-table-head{
					font-size: 0.8em;
				}
				.dsui-font-size-table-value{
					font-size: 0.8em;
				}
				.dsui-font-size-table-value-status{
					font-size: 0.7em;
				}
				.dsui-line-height{
					line-height:3em
				}
				.dsui-metrics-divider-line{
					border-right: 1px solid #ECECEC;
					height: 5em;
				}
				.dcui-metric-header-text-font{
					color: #505050;
					font-weight: 200;
					font-size: 0.9em;
				}
				.dsui-font-weight{
					font-weight: 200;
				}
				.dsui-metric-height{
					height:9em;
				}
			}



		}
	}
	.dsui-footer{
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-customers{

			}
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{

		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{

		}
		.dsui-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{

		}
		.dsui-footer{
		}
	}
}
