.dsui{	
	.dsui-header{
	}
	.dsui-content{
	}
	.dsui-footer{
		padding-left: 2.625em;
		padding-right: 2.625em;
		.dsui-footer-container{
		}
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
			.dsui-footer-container{
			}
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
			.dsui-footer-container{
			}
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
			.dsui-footer-container{
			}
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
			.dsui-footer-container{
			}
		}
	}
}