.dsui{
	.dsui-header{
		padding-left: 0;
		padding-right: 0;
		background:#d0deba;
		.dsui-header-container{
			background:transparent !important;
			border:none;
			margin-bottom: 0px;
			height: inherit;
			.dsui-menu-list-item{
				.dsui-brand{
					color:#004833;
					font-size: 1em;
				}
				.active{
					color:#f27f1b!important;
				}
			}
            .dsui-login-name {
                .dsui-brand{
					color:#FFFFFF;
					font-size: 1em;
				}
            }
		}
	}
	.dsui-content{
	}
	.dsui-footer{
	}
}
.navbar-brand {
  padding: 5px 10px;
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
			height: 52px;
			.dsui-header-container{
				background:transparent !important;
				border:none;
				margin-bottom: 0px;
				height: inherit;
				line-height: 52px;
			}
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
			.dsui-header-container{
				
			}
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
			.dsui-header-container{
				.navbar-collapse{
					padding-left: 0px;
					.nav.navbar-nav{
						margin-left: 0em !important;
						a.dsui-disable-anchor{
							padding-left: 0px;
						}
					}
				}
			}
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
			padding-left: 0px !important;
			padding-right: 0px !important;
			.dsui-header-container{
				.navbar-brand{
					padding-left: 0.938em;
				}
				.navbar-toggle{
					margin-right: 0.938em;
				}			
				.navbar-collapse{
					.nav.navbar-nav{
						margin-left: 0em !important;
					}
				}
			}
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
