.dsui{
		.dsui-header{
		}
		.dsui-content{
			#DocDetailsModal{
				.dsui-doc-modal-header{
					background: #00a1de;
					color: #fff;
				}
			}
			.dsui-invoice{
				.dsui-invoice-create{
					@import 'auth/invoice/create';
				}
				.dsui-invoice-list{
					@import 'auth/invoice/list';
				}
				.dsui-invoice-detail{
					@import 'auth/invoice/detail';
				}
			}
		}
		.dsui-footer{
		}
}
/* Large desktop */
@media (min-width: 1200px) {
		.dsui{
				.dsui-header{
				}
				.dsui-content{
				}
				.dsui-footer{
				}
		}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
		.dsui{
				.dsui-header{
				}
				.dsui-content{
				}
				.dsui-footer{
				}
		}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
		.dsui{
				.dsui-header{
				}
				.dsui-content{
				}
				.dsui-footer{
				}
		}
}
/* Landscape phones and down */
@media (max-width: 480px) {
		.dsui{
				.dsui-header{
				}
				.dsui-content{
				}
				.dsui-footer{
				}
		}
}