body, html{
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
}
body{
	overflow-y:scroll;
}
.dsui{
	min-height:100%;
	position:relative;
	font-size:15px;
	min-width:320px;
	/*margin:0 auto;*/
	background: #efefef;
	.dsui-header{		
	}
	.dsui-content{
		/*padding-bottom: 220px;*/
		background: #F6F6F6;
	}
	.dsui-footer{		
		/*position: absolute;
		bottom:0;
		width:100%;*/
		display: none;
	}
}

/* Large desktop */
@media (min-width: 1200px) { 
	.dsui{
		font-size:16px;
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		font-size:14px;
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		font-size:12px;
		/*position:static;*/
		.dsui-header{
		}
		.dsui-content{
			/*padding-bottom: 10px;*/
		}
		.dsui-footer{
			/*position:static;
			bottom:auto;
			width:auto;*/
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		font-size:10px;
		/*position:static;*/
		.dsui-header{
		}
		.dsui-content{
			/*padding-bottom: 10px;*/
		}
		.dsui-footer{
			/*position:static;
			bottom:auto;
			width:auto;*/
		}
	}
}