.dsui{
	.dsui-header{
	}
	.dsui-content{
		.dsui-order{
			.dsui-order-content-position{
				padding-top: 45px;
			}
			.dsui-clearfix-fix{
				margin-bottom: 0px !important;
			}
			.dsui-order-header-buttons{
				padding-bottom:25px;
			}
			.dsui-order-details{
				padding-top: 25px;
				background: #fff;
				padding-bottom: 10px;
				.dsui-order-running-text{
					font-size: 0.8em;
				.dsui-order-delivery-date{
				width: 6em;
				padding: 0px;
				display: inline-block;

				}
				}
				.dsui-select-form-control{
					width: 80%;
					font-size: 0.8em;
					margin-top: 5px;
				}
				.dsui-select-address-form-control{
					width: 90%;
					font-size: 0.8em;
					margin-top: 5px;
				}
				.dsui-input-form-control{
					margin-bottom: 1.5em;
				}
				.dsui-font-weight-100{
					font-size: 0.8em;
					color: #000;
				}
				.dsui-input-label{
					font-weight: 100;
					text-align: right;
				}
				.dsui-order-products{
					font-size: 0.8em;
					.dsui-order-quantity{
						height:22px;
						padding:0;
					}
					.dsui-order-table{
						border-collapse: separate;
						border: solid #ccc 1px;
						.dsui-dollar-addon{
							background-color: #fff;
							padding:0px 2px  !important;
						}
						.dsui-itemPrice{
							width:80px;
						}
						.dsui-margin-field{
							background: #fff;
							border: 1px solid #ccc;
							border-radius: 4px;
							width: 50px;
							text-align: center;
						}
						.dsui-order-price-input{
							width: 50px;
							border:1px solid #ccc;
							border-left: none!important;
						}
					}
				}
			}
			.dsui-order-margin{
				background: transparent;
				.dsui-order-margins{
					padding-left: 40px;
					padding-right: 40px;
					.dsui-margin-well{
						background: #fff;
						box-shadow: none;
						border: 1px solid #cfcfcf;
						padding: 10px;
						margin-bottom: 40px;
						.dsui-font-margin-label{
							font-size: 1.25em;
							font-weight: 100;
						}
						.dsui-font-margin-text{
							font-size: 2.5em;
							font-weight: 100;
						}
					}
				}
				.dsui-order-totals{
					padding:10px 15px 10px 15px;
					color: #fff;
					background: #000;
					font-size: 0.95em;
					font-weight: 100;
					height: 152px;
				}
				.dsui-order-actions{
					color: #fff;
					/*height: 52px;*/
					.dsui-order-action{
						padding-top: 1em;
						padding-bottom: 1em;
						font-size: 1em;
						font-weight: 100;
						background: inherit;
						border: none;
					}
				}
			}
			.dsui-top-ten-products{
				.modal-header{
					border-bottom: none !important;
				}
				.ordered-products-label{
					font-size: 0.8em;
					b{
						margin-left:5px;
					}
				}
				.ordered-products-wrapper{
					font-size: 0.8em;
					border:1px solid #cccccc;
					border-radius: 4px;
					.ordered-products{
						padding: 10px 5px 10px 20px;
						border-bottom:1px solid #CCCCCC;
					}
					.ordered-products:last-child{
						border-bottom:none;
					}
				}
			}

			.dsui-last-Three-Orders{
				.modal-header{
					border-bottom: none !important;
				}
				.last-three-products-label{
					font-size: 0.8em;
					b{
						margin-left:5px;
					}
				}
				.last-three-products-results{
					border:1px solid #cccccc;
					border-radius: 4px;
					.ordered-products{
						padding: 10px 5px 10px 20px;
						border-bottom:1px solid #CCCCCC;
					}
					.ordered-products:last-child{
						border-bottom:none;
					}
				}
			}


		}
	}
	.dsui-footer{
	}
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-order{
				.dsui-left-padding-fix{
					padding-left: 15px;
				}
				.dsui-right-padding-fix{
					padding-right: 15px;
				}
				.dsui-order-details{
					.dsui-select-form-control{
						height:3em;
					}
				}
			}
		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-order{
				.dsui-left-padding-fix{
					padding-left: 15px;
				}
				.dsui-right-padding-fix{
					padding-right: 15px;
				}
				.dsui-order-details{
					.dsui-select-form-control{
						height:3em;
					}
					.dsui-input-label{
						text-align: left;
					}
				}
			}
		}
		.dsui-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
			.dsui-order{
				.dsui-left-padding-fix{
					padding-left: 15px;
				}
				.dsui-right-padding-fix{
					padding-right: 15px;
				}
			}
		}
		.dsui-footer{
		}
	}
}