.dsui{
	.dsui-header{
	}
	.dsui-content{
		.dsui-access-denied{
			background:#fff;
		}
		.dsui-access-404{
			background: #fff;
			h1{
				font-size: 3em;
			}			
		}
	}
	.dsui-footer{
	}	
}
/* Large desktop */
@media (min-width: 1200px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.dsui{
		.dsui-header{
		}
		.dsui-content{
		}
		.dsui-footer{
		}
	}
}