<div class="dsui-invoice-detail">
	<div class="well dsui-proc-well">
	<div class="pull-right">
		<button type="button" data-ng-show="(invoice.listData)" style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" class="btn btn-default"> <i class="fa fa-print"></i> Print Invoice</button>
		<button type="button" data-ng-show="(invoice.listData)" style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" class="btn btn-default"> <i class="fa fa-envelope"></i> Email Invoice</button>
		<button type="button" data-ng-show="(invoice.listData)" data-ng-click="fnDisplayAccDetails();"style="border:1px solid #419641; border-radius:5px;background: #fff; color: #419641;" class="btn btn-default" data-toggle="modal" data-target="#DocDetailsModal"> <i class="fa fa-dollar"></i> Accounting Doc</button>
		<a class="dsui-proc-a" href="javascript:void(0)" data-ng-click="fnToggleDetailView()">Cancel</a>
		<button type="button" class="btn btn-warning">Notes</button>
		<button type="button" class="btn btn-success" data-ng-show="invoice.setSave" data-ng-click="fnSaveInvoice()">Save</button>
	</div>
	<p class="clearfix"></p>
	<div class="dsui-proc-head1"><img style="width:300px;" src="images/customer/0000100020.jpg"></div>
	<div class="dsui-proc-head2">Invoice <span data-ng-bind="invoiceitemNumber.substring(2,10)"></span></div>
	<div>
	</div> 
	<p class="clearfix"></p>
	<div class="row">
		<div class="col-sm-2" ><strong>Bill-to-Party: </strong><span data-ng-bind="invoice.invoiceLineItems.otherDetails.customerId.substring(4,10)"></span></div>
		<div class="col-sm-3" style="padding:0px;"><strong>Bill-to-Address: </strong><!-- <span data-ng-bind="invoice.invoiceLineItems.otherDetails.billToAddress"></span> -->
			<span>133 Jackson St.San Francisco,CA 94111</span></div>
		<div class="col-sm-4" ><strong>Payment Terms: </strong><!-- <span data-ng-bind="invoice.invoiceLineItems.otherDetails.paymentTerms"></span> --><span>Pay immediately w/o deduction</span></div>
		<div class="col-sm-3" ><strong>Total Invoice Value: </strong>$<span data-ng-bind="invoice.totalInvoiceSum | limitToTwo: '':''"></span></div>
	</div>
</div>
	<div >
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<!-- <li data-ng-repeat ="template in templates" class="{{template.actCls}}">
				<a href="#{{template.id}}" role="tab" data-toggle="tab">{{template.title}}</a>
			</li> -->
			<li class="active"><a>Invoice Line Items</a></li>
			<li><a>Invoice Header Details</a></li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div data-ng-repeat ="template in invoiceTemplates" class="tab-pane {{template.actCls}}"  id="{{template.id}}">
				<div data-ng-include="template.url"></div>
			</div>
		</div>
	</div>
</div>

<!-- modal box for Doc Details Starting-->
	<div class="modal fade" id="DocDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header dsui-doc-modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Cancel</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center" id="myModalLabel" >Accounting Doc</h4>
      </div>
      <div class="modal-body">
	       <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Document No:&nbsp;</span><span class="text-muted" data-ng-bind="invoice.DocDetails.documentNo"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Company Code:&nbsp;</span><span class="text-muted" data-ng-bind="invoice.DocDetails.companyCode"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Fiscal Year:&nbsp;</span> <span class="text-muted" data-ng-bind="invoice.DocDetails.finalYear"></span></div>
	      </div>
	      <div class="row" style="font-size: 0.9em;">
		       	<div class="col-sm-4"><span class="text-info">Posting Date:&nbsp;</span><span class="text-muted" data-ng-bind="invoice.DocDetails.postingDate"></span></div>
		       	<div class="col-sm-4"><span class="text-info">Branch:&nbsp;</span><span class="text-muted">Ponca City, OK</span></div>
	      </div>
	      <hr/>
	      <div class="col-md-12">
		      <table class="table">
		      	<thead>
		      		<tr>
		      			<th>Account No</th>
		      			<th>Description</th>
		      			<th>Pst Key</th>
		      			<th>Amount</th>
		      			<th>Currency</th>
		      		</tr>
		      	</thead>
		      	<tbody>
		      		<tr data-ng-repeat="doc in invoice.DocDetails.TBseg">
		      			<td data-ng-bind="doc.glAccount"></td>
		      			<td data-ng-bind="doc.description"></td>
		      			<td data-ng-bind="(doc.postingIndicator == 'S') && 'Dr' || ((doc.postingIndicator == 'H') && 'Cr') " class="text-center"></td>
		      			<td class="text-right"  data-ng-bind="doc.amount | limitToTwo: '':''"></td>
		      			<td data-ng-bind="doc.currencyKey"></td>
		      		</tr>
		      	</tbody>
					</table>
	      </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- modal box for Doc Details ending-->
