<div class="dsui-invoice-list col-sm-12">
	<div class="dsui-list-header clearfix">
		<div class="dsui-header-left col-sm-7 dsui-zero-padding" >
			<div class="input-group dsui-search-bar" data-ng-hide="true">
				<span class="input-group-addon dsui-customer-selection">
					<select class="dsui-customer-selectbox">
				    <option value="one">Customer #</option>
					</select>
				</span>
			  <input type="text" class="form-control ng-pristine ng-valid" placeholder="Type search terms here..." data-ng-model="invoice.searchText">
			  <span class="input-group-btn">
					<button data-ng-disabled="!invoice.searchText.length>0" data-ng-click="fnGetInvoiceList();" class="btn dsui-bg-blue dsui-color-white dsui-search-Btn" type="submit" disabled="disabled">Search!</button>
				</span>
			</div>
		</div>
		<div class="dsui-header-right col-sm-5 text-right">
			<div class="dsui-list-buttons">
				<button type="button" class="btn btn-primary">Modify Invoice</button>
				<button type="button" class="btn btn-success" data-ng-click="fnOpenCreateDeliveryPage('create');">Create Invoice</button>
			</div>
			
		</div>
	</div>
	<div class="dsui-list-body col-sm-12" data-ng-show="searchSelected">
		<div class="dsui-list-table">
			<div class="dsui-list-table-count">
				<span class="dsui-delivery-order-page-count">Invoices</span><span>(1-<span data-ng-bind="invoice.items.length"></span> of <span data-ng-bind="invoice.items.length"></span>)</span>
			</div>
			<div class="dsui-list-create-table-body">
				<table class="table">
					<thead class="dsui-list-create-table-head">
						<tr>
							<th class="col-sm-1 text-center">Invoice No.</th>
							<th class="col-sm-1 text-center">Customer </th>
							<th class="col-sm-2 text-center">Customer Name</th>
							<th class="col-sm-1 text-center">Branch </th>
							<th class="col-sm-1 text-center">Delivery </th>
							<th class="col-sm-2 text-center">Invoice Date</th>
							<th class="col-sm-1 text-center">Line Items</th>
							<th class="col-sm-1 text-center">Quantity</th>
							<th class="col-sm-1 text-center">Total Price</th>
							<th class="col-sm-1 text-center">Accounting Doc</th>
							
						</tr>
					</thead>
					<tfoot>
              <td colspan="9">
                  <span class="dsui-table-head0 tdsui-table-bottom">1- {{selectedPages.pages}} of {{invoice.items.length}} Invoices</span>
                  <div class="pull-right dsui-results-perpage-div">
                      <span>Results per page</span>
                       <select class="dsui-results-perpage" ng-model="selectedPages" ng-options="page as page.pages for page in pageResults" data-ng-change="fnRecordsDisplayPerPage(selectedPages);">
                       </select>
                  </div>
              </td>
          </tfoot>
					<tbody data-ng-init="predicate='invoiceId'">
						<tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:predicate:true" data-ng-click="fnOpenDetailsInvoicePage(item)">
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.invoiceId.substring(2,10)"></span></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.customerId.substring(4,10)"></span></td>
							<td class="col-sm-2 text-center"><span data-ng-bind ="item.customerName"></span></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.branchId"></span></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.deliveryId.substring(2,10)"></span></td>
							<td class="col-sm-2 text-center"><span data-ng-bind ="item.invoiceDate"></span></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.lineItems"></span></td>
							<td class="col-sm-1 text-center"><span data-ng-bind ="item.quantity"></span></td>
							<!-- shkar fix for #16 -->
							<td class="col-sm-1 text-right">$<span data-ng-bind ="item.totalPrice | limitToTwo: '':''"></span></td>
							<td class="col-sm-1 text-center" ><i class="fa fa-file-text dsui-color-light-blue dsui-pointer-cursor" tooltip="{{fnGetInvoiceDocs(item)}}"></i></td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>