<div class="dsui-header-container navbar navbar-default navbar-inverse" role="navigation">
	<div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dsuiHeaderCollapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand dsui-disable-anchor" href="javascript:void(0)"><img src="images/logo.png"/></a>
		</div>
		<div class="navbar-collapse bs-navbar-collapse collapse in" id="dsuiHeaderCollapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="dsui-menu-list-item">
					<a class="dsui-brand" href="javascript:void(0)"><i class="fa fa-home dsui-home-icon"></i> Home</a>
				</li>
				<li class="dsui-menu-list-item">
					<a data-ng-class="header.selectTab=='products' && 'active' || ''"
					class="dsui-brand" href="javascript:void(0)" data-ng-click="fnSelectionTab('/products');"><i class="fa fa-list"></i> Products</a>
				</li>
				<!-- <li class="dsui-menu-list-item">
					<a data-ng-class="header.selectTab=='customers' && 'active' || ''" class="dsui-brand" href="javascript:void(0)" data-ng-click="fnSelectionTab('/customers');"><i class="fa fa-users"></i> Customers</a>
				</li> -->
				<li class="dsui-menu-list-item">
					<a data-ng-class="header.selectTab=='procurement' && 'active' || ''" class="dsui-brand" href="javascript:void(0)" data-ng-click="fnSelectionTab('/procurement');"><i class="fa fa-users"></i> Procurement</a>
				</li>
				<li class="dsui-menu-list-item">
					<a data-ng-class="header.selectTab=='delivery' && 'active' || ''" class="dsui-brand" href="javascript:void(0)" data-ng-click="fnSelectionTab('/delivery');"><i class="fa fa-truck"></i> Delivery</a>
				</li>
				<li class="dsui-menu-list-item">
					<a data-ng-class="header.selectTab=='invoice' && 'active' || ''" class="dsui-brand" href="javascript:void(0)" data-ng-click="fnSelectionTab('/invoice');"><i class="fa fa-file-text-o"></i> Invoice</a>
				</li>
				<li class="dsui-menu-list-item dsui-login-name dsui-bg-dark-grey">
					<a class="dsui-brand" href="javascript:void(0)" class="dsui-disable-anchor dsui-user-name">Hi, Joe Smith</a>
				</li>
			</ul>
		</div>
	</div>
</div>
	